	<div class="login-box">
		<div class="login-logo">
			<b>Admin</b>Login
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">Sign in to start your session</p>
			<form method="post" name="loginForm" ng-submit="doLogin(loginForm.$valid)">
				<div class="form-group has-feedback" ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
					<input type="text" class="form-control" name="username" ng-model="user.username" placeholder="Username" required />
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
					<p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine" class="help-block">Username is required.</p>
				</div>
				<div class="form-group has-feedback" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
					<input type="password" class="form-control" name="password" ng-model="user.password" placeholder="Password" required />
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					<p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">Password is required.</p>
				</div>
				<div class="row">
					<!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled="loginForm.$invalid">Sign In</button>
					</div>
					<!-- /.col -->
				</div>
			</form>
		</div>
		<!-- /.login-box-body -->
	</div>
